@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #f0f4fb;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	width: 100%;
	text-align: center;
	color: #00adf2;
}

.header a {
    text-decoration: none;
    transition: 0.2s ease;
}

.header a:visited {
    color: #00adf2;
}

.header a:hover {
    color : #16566f;
    transition: 0.2s ease;
}

.hedaer h1 {
	width: 100%;
}


.form-wrapper {
	width: 70%;
	margin: 2rem;
	padding: 1rem;
	border-radius: 5rem;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.movie-input {
	font-size: 2rem;
	margin: 1.5rem;
	border: none;
	outline: 0.2rem solid #00adf2;
	padding: 1.1rem;
}

.movie-input:focus {
    outline: 0.2rem solid #c34116;
}

.search-btn {
	font-size: 1.6rem;
	border: none;
	background-color: #00adf2;
	color: #fff;
	border-radius: 50%;
	padding: 1.1rem;
	cursor: pointer;
}

.search-btn:hover,
.search-btn:active {
	background-color: #0074a2;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 21rem;
	height: 55rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
	border-radius: 2rem;
	background: #fff;
	cursor: pointer;
    position: relative;
    transition: 0.4s ease-out;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in;
	box-shadow: 0 1rem 2rem 0 rgb(34, 68, 128, 0.2);
}

.img-wrapper {
	width: 100%;
}

.img-wrapper img {
	width: 100%;
	border-radius: 2rem;
	object-fit: contain;
}

.card h3 {
	width: 100%;
	background: #d5dce6;
	text-align: center;
	font-weight: bold;
}

.desc {
	padding: 1rem;
}

.rating {
    position:absolute;
	width: 100%;
    bottom:0;
	text-align: center;
    margin-bottom: 1rem;
}
