@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap");
* {
	font-family: "Nanum Gothic", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background: #f0f4fb;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	width: 100%;
	height: 700px;
	text-align: center;
	font-size: 100px;
	font-weight: 800;
	background: linear-gradient(
		135deg,
		rgba(171, 220, 255, 1) 0%,
		rgba(137, 252, 215, 1) 25%,
		rgba(246, 110, 162, 1) 50%,
		rgba(75, 210, 250, 1) 75%,
		rgba(0, 173, 242, 1) 100%
	);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: ani 10s linear infinite;
}

.p1 {
	margin-right: 150px;
}
.p2 {
	margin-left: 50px;
}

.p3 {
	margin-left: 300px;
}

@keyframes ani {
	to {
		background-position: 400%;
	}
}

.scroll {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
    margin-bottom: 10px;
}

.scroll:visited {
	color: #000;
}

.scroll-span {
	position: absolute;
	top: 700px;
	width: 32px;
	height: 32px;
	margin-top: 8px;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(-45deg);
	box-sizing: border-box;
    animation: bound 1s infinite;
}

.scroll:hover {
    opacity: .2;
}

@keyframes bound {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}

	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}

	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}

.form-wrapper {
	width: 70%;
	margin: 2rem;
	padding: 1rem;
	border-radius: 5rem;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.movie-input {
	font-size: 2rem;
	margin: 1.5rem;
	border: none;
	outline: 0.2rem solid #00adf2;
	padding: 1.1rem;
}

.movie-input:focus {
	outline: 0.2rem solid #c34116;
}

.search-btn {
	font-size: 1.6rem;
	border: none;
	background-color: #00adf2;
	color: #fff;
	border-radius: 50%;
	padding: 1.1rem;
	cursor: pointer;
}

.search-btn:hover,
.search-btn:active {
	background-color: #0074a2;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 21rem;
	height: 55rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
	border-radius: 2rem;
	background: #fff;
	cursor: pointer;
	position: relative;
	transition: 0.4s ease-out;
}

.card:hover {
	transform: scale(1.1);
	transition: 0.4s ease-in;
	box-shadow: 0 1rem 2rem 0 rgb(34, 68, 128, 0.2);
}

.img-wrapper {
	width: 100%;
	height: 30rem;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	object-fit: cover;
}

.card h3 {
	width: 100%;
	background: #d5dce6;
	text-align: center;
	font-weight: bold;
}

.desc {
	padding: 1rem;
	overflow: hidden;
	height: 30rem;
}

.rating {
	margin: 1rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	margin-bottom: 1rem;
	background: #d5dce6;
	border-radius: 1rem;
}

.more {
	width: 100%;
	font-size: 2rem;
	margin: 3rem;
	border: none;
	background: #00adf2;
	color: #fff;
	cursor: pointer;
}

.more:active {
	background: #01668e;
}

.top {
	position: fixed;
	top: 1rem;
	right: 2rem;
}

.top a {
	color: #00adf2;
	text-decoration: none;
	font-size: 2rem;
}
