.review-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: white;
  width: 100%;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.name label {
  margin-right: 80px;
}

.password {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.password label {
  margin-right: 50px;
}

.rate {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rate label {
  margin-right: 80px;
}

.rate input {
  width: 50%;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review label {
  margin-right: 45px;
}

input {
  font-size: 30px;
}

select {
  font-size: 30px;
}

textarea {
  font-size: 20px;
}

.register_btn {
  width: 25%;
  font-size: 32px;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 50px;
  background: #161618;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.register_btn:hover {
  background: #fff;
  color: #161618;
  transition: 0.3s ease;
}

.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 28px;
}

.review-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
}

.review-group p {
  text-align: center;
}

hr {
  width: 80%;
  margin-top: 50px;
  border: 3px solid #fff;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.delete-btn,
.modify-btn {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-btn:hover,
.modify-btn:hover {
  background: #6d84b1;
  color: white;
}

.reviews {
  width: 100%;
}

.review-hr {
  width: 80%;
}

.user-info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
